<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Issues/Maintenance</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  </head>
  <body class="p-5 m-0 flex justify-center">
    <form class="max-w-sm w-full flex flex-col gap-3">
      <div class="flex flex-col">
        <label for="clientName" class="font-semibold">Client Name</label>
        <input
          class="text-sm font-medium rounded"
          type="text"
          name="clientName"
        />
      </div>
      <div class="flex flex-col">
        <label for="emailAddress" class="font-semibold">Email Address</label>
        <input
          class="text-sm font-medium rounded"
          type="email"
          name="emailAddress"
        />
      </div>
      <div class="flex flex-col">
        <label for="projectName" class="font-semibold">Project Name</label>
        <input
          class="text-sm font-medium rounded"
          type="text"
          name="projectName"
        />
      </div>
      <div class="flex flex-col">
        <label for="projectStatus" class="font-semibold">Project Status</label>
        <select class="text-sm font-medium rounded" name="projectStatus" id="">
          <option value="on-going">Ongoing</option>
          <option value="maintenance">Maintenance</option>
        </select>
      </div>
      <div class="flex flex-col">
        <label for="conernsAndInquiry" class="font-semibold"
          >Concerns and Inquiry</label
        >
        <textarea
          class="text-sm font-medium rounded"
          name="conernsAndInquiry"
        ></textarea>
      </div>
      <button
        type="button"
        class="p-2 bg-[#DD3538] rounded mt-5 text-white font-semibold"
      >
        Submit
      </button>
    </form>
  </body>

  <script>
    (function (d, s, id) {
      var js,
        fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {
        return;
      }
      js = d.createElement(s);
      js.id = id;
      js.src = '//connect.facebook.net/en_US/messenger.Extensions.js';
      fjs.parentNode.insertBefore(js, fjs);
    })(document, 'script', 'Messenger');

    window.extAsyncInit = function () {
      // the Messenger Extensions JS SDK is done loading
      console.log('FB Messenger SDK Loaded');
    };
  </script>
</html>
