<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Issues/Maintenance</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  </head>
  <body class="p-5 m-0 flex justify-center">
    <form method="post" class="max-w-md w-full flex flex-col gap-3">
      <input
        id="psid"
        class="text-sm font-medium rounded"
        type="text"
        name="psid"
        value="<%= psid %>"
        hidden
        disabled
        required
      />
      <div class="flex flex-col">
        <label for="clientName" class="font-semibold">Client Name</label>
        <input
          class="text-sm font-medium rounded"
          type="text"
          name="clientName"
          required
        />
      </div>
      <div class="flex flex-col">
        <label for="clientEmail" class="font-semibold">Email Address</label>
        <input
          class="text-sm font-medium rounded"
          type="email"
          name="clientEmail"
          required
        />
      </div>
      <div class="flex flex-col">
        <label for="projectName" class="font-semibold">Project Name</label>
        <input
          class="text-sm font-medium rounded"
          type="text"
          name="projectName"
          required
        />
      </div>
      <div class="flex flex-col">
        <label for="projectStatus" class="font-semibold">Project Status</label>
        <select class="text-sm font-medium rounded" name="projectStatus" id="">
          <option value="on-going">Ongoing</option>
          <option value="maintenance">Maintenance</option>
        </select>
      </div>
      <div class="flex flex-col">
        <label for="issuesAndConcerns" class="font-semibold"
          >Concerns and Inquiry</label
        >
        <textarea
          class="text-sm font-medium rounded"
          name="issuesAndConcerns"
          required
        ></textarea>
      </div>
      <button class="p-2 bg-[#DD3538] rounded mt-5 text-white font-semibold">
        Submit
      </button>
      <div
        id="statusPassed"
        class="p-5 bg-green-200 text-center font-semibold"
        hidden
      >
        Inquiry Sent!
      </div>
      <div
        id="statusFailed"
        class="p-5 bg-red-200 text-center font-semibold"
        hidden
      >
        Sending Inquirty Failed
      </div>
    </form>
  </body>
  <script>
    // Get the form element
    const form = document.querySelector("form");
    const statusPassed = document.getElementById("statusPassed");
    const statusFailed = document.getElementById("statusFailed");
    const psid = document.getElementById("psid");

    // Add a form submission event listener
    form.addEventListener("submit", (event) => {
      event.preventDefault(); // Prevent the default form submission

      // Get the form data as a URL-encoded string
      const formData = new URLSearchParams(new FormData(form));

      fetch(`/tickets/${psid}`, {
        method: "POST",
        body: formData,
        headers: {
          "Content-Type": "application/x-www-form-urlencoded",
        },
      })
        .then((res) => {
          if (res.status === 200) {
            form.reset();
            statusFailed.hidden = true;
            statusPassed.hidden = false;
          } else {
            statusFailed.hidden = false;
            statusPassed.hidden = true;
          }
        })
        .catch((error) => {
          statusFailed.hidden = false;
          statusPassed.hidden = true;
          console.error("Error:", error);
        });
    });
  </script>
</html>
