<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Service</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  </head>
  <body class="p-5 m-0 flex justify-center">
    <form class="max-w-md w-full flex flex-col gap-3">
      <div class="flex flex-col">
        <label for="name" class="font-semibold">Service</label>
        <input
          class="text-sm font-medium rounded"
          type="text"
          name="serviceName"
          value="<%= serviceTitle %>"
        />
      </div>
      <div class="flex flex-col">
        <label for="name" class="font-semibold">Name</label>
        <input class="text-sm font-medium rounded" type="text" name="name" />
      </div>
      <div class="flex flex-col">
        <label for="companyName" class="font-semibold">Company Name</label>
        <input
          class="text-sm font-medium rounded"
          type="text"
          name="companyName"
        />
      </div>
      <div class="flex flex-col">
        <label for="designation" class="font-semibold">Designation</label>
        <input
          class="text-sm font-medium rounded"
          type="text"
          name="designation"
        />
      </div>
      <div class="flex flex-col">
        <label for="email" class="font-semibold">Email</label>
        <input class="text-sm font-medium rounded" type="email" name="email" />
      </div>
      <div class="flex flex-col">
        <label for="phone" class="font-semibold">Mobile Number</label>
        <input class="text-sm font-medium rounded" type="phone" name="phone" />
      </div>
      <div class="flex flex-col">
        <label for="conernsAndInquiry" class="font-semibold"
          >Concerns and Inquiry</label
        >
        <textarea
          class="text-sm font-medium rounded"
          name="conernsAndInquiry"
        ></textarea>
      </div>
      <button
        type="button"
        class="p-2 bg-[#DD3538] rounded mt-5 text-white font-semibold"
      >
        Submit
      </button>
    </form>
  </body>
</html>
